ErrorDocument 404 /page-404.php

RewriteEngine on

RewriteRule ^Home  index.php [NC,L]
RewriteRule ^Online-Marketing  onlinemarketing.php [NC,L]
RewriteRule ^Support-Maintainance  webdevelopmentsupport.php [NC,L]
RewriteRule ^Graphic-Design  graphicdesign.php [NC,L]
RewriteRule ^Testimonials  testimonial.php [NC,L]
RewriteRule ^Website-Template  webtemplate.php [NC,L]
RewriteRule ^Website-Portfolio webportfolio.php [NC,L]
RewriteRule ^Webdevelopment-Process webdevelopmentprocess.php [NC,L]
RewriteRule ^Website-Feature websitefeature.php [NC,L]
RewriteRule ^FAQ-Web-Development faqweb.php [NC,L]
RewriteRule ^Price-Web-Development website_price.php [NC,L]
RewriteRule ^Contact  contact.php [NC,L]
